/* 전체 크기 설정 */
/* header, main, footer의 부모 */
body {
  width: 600px;
  height: 400px;
}
/* header와 footer의 높이는 10% */
header, footer {
  /* 높이 비율 */
  /* height는 부모를 기준으로 퍼센테이지 적용 */
  height: 10%;
  background-color: gray;
}
/* left, center, right를 수평 정렬 */
/* main을 flex 컨테이너로 설정 */
/* row(수평방향)으로 정렬 */
main {
  height: 80%;
  display: flex;
}
/* left, right는 20% */
/* main을 부모로 가진 첫번째 section 태그 선택 */
main > section:nth-child(1){
  background-color: skyblue;
  /* 부모(main) 너비의 20% */
  width: 20%;
}
main > section:nth-child(2) {
  background-color: gainsboro; 
  width: 60%;
}
main > section:nth-child(3) {
  background-color: red;
  width: 20%;
}
/* 모든 텍스트를 가운데 정렬 */
* {
  text-align: center;
}
/* section 텍스트 강조 */
section {
  font-weight: bold;
}